*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
body {
    background-color:  hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.summary-card {
    width: 360px;
    margin: 60px auto;
    border-radius: 20px;
    position: absolute;
    top: 20px;
    left: 470px;
    background-color: white;
    box-shadow: 0 4px 8px 0 hsl(240, 5%, 80%);  
}
.summary-card img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.order-sum {
    width: 250px;
    margin: 40px auto 20px auto;
    text-align: center;
    opacity: 0.8;
}
    .listen{
        width: 300px;
        margin: 0 auto 20px auto;
        text-align: center;
    }
    .listen p, .dollar, .cancel {
        opacity: 0.5;
    }
    .plan-card{
        padding: 20px;
        display: flex;
        width: 300px;
        margin: auto;
        background-color: rgb(242, 247, 250);
        border-radius: 10px;
    } 
    .image img{
        width: 30px;
    }
    .image{
       margin: auto;
    }
    .plan{
        margin: auto;
    }
    .Anual{
        font-weight: bold;
        word-wrap: none;
        font-size: 15px;
        opacity: 0.8;  
    }
    .link{
        margin-left: 82px;
        margin-top: 8px;
        font-size: 12px;   
    }
    button{
        background-color: hsl(245, 75%, 52%);
        padding: 10px;
        width: 300px;
        margin-top: 20px;
        margin-left: 30px;
        border-radius: 10px;
        color: white;
        font-weight: 700;
        box-shadow: 0 4px 8px 0 hsl(224, 23%, 55%);
    }
    .cancel{
        text-align: center;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .background{
        position:relative; 

    }